@model RescueShare.Models.TransportViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PickupTime" class="control-label"></label>
                <input asp-for="PickupTime" class="form-control" />
                <span asp-validation-for="PickupTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropoffTime" class="control-label"></label>
                <input asp-for="DropoffTime" class="form-control" />
                <span asp-validation-for="DropoffTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportTime" class="control-label"></label>
                <input asp-for="TransportTime" class="form-control" />
                <span asp-validation-for="TransportTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelterSenderId" class="control-label"></label>
                <select asp-for="ShelterSenderId" class ="form-control" asp-items="ViewBag.ShelterSenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShelterReceiverId" class="control-label"></label>
                <select asp-for="ShelterReceiverId" class ="form-control" asp-items="ViewBag.ShelterReceiverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FosterSenderId" class="control-label"></label>
                <select asp-for="FosterSenderId" class ="form-control" asp-items="ViewBag.FosterSenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FosterReceiverId" class="control-label"></label>
                <select asp-for="FosterReceiverId" class ="form-control" asp-items="ViewBag.FosterReceiverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RescueSenderId" class="control-label"></label>
                <select asp-for="RescueSenderId" class ="form-control" asp-items="ViewBag.RescueSenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RescueReceiverId" class="control-label"></label>
                <select asp-for="RescueReceiverId" class ="form-control" asp-items="ViewBag.RescueReceiverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverType" class="control-label"></label>
                <select asp-for="ReceiverType" class="form-control"></select>
                <span asp-validation-for="ReceiverType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderType" class="control-label"></label>
                <select asp-for="SenderType" class="form-control"></select>
                <span asp-validation-for="SenderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

