
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ShetlerLayout</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RescueShare</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Shelters" asp-action="ManageSpaces">Manage Spaces</a></li>
                    <li><a asp-area="" asp-controller="Shelters" asp-action="ManageDogs">Manage Dogs</a></li>
                    <li><a asp-area="" asp-controller="Shelters" asp-action="ManageTransports">Manage Transports</a></li>
                    <li><a asp-area="" asp-controller="Shelters" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</body>
</html>
