@{
    Layout = null;
}

<!DOCTYPE html>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Spaces" asp-action="Index">Manage Spaces</a></li>
        <li><a asp-area="" asp-controller="Organizations" asp-action="ManageDogs">Manage Dogs</a></li>
        <li><a asp-area="" asp-controller="Organizations" asp-action="ManageTransports">Manage Transports</a></li>
        <li><a asp-area="" asp-controller="Organizations" asp-action="Contact">Contact</a></li>
    </ul>
    <partial name="_LoginPartial" />
</div>
