@model RescueShare.Models.Entities.Organization

@{
    var OrganizationName = Model.Name;

}

<body>

    <p>
        <partial name="_ShelterLayout" />

        <header>Welcome, @OrganizationName! Let's save some dogs today.</header>
    </p>

    <div>
        <img src="~/images/defaultpuppy.jpg" />
    </div>

</body>