@model RescueShare.Models.Shelter

@{
    var ShelterName = Model.Name;

}

<body>
   
    <p>
        <partial name="_ShelterLayout" />

        <header>Welcome, @ShelterName! Let's save some dogs today.</header>
    </p>

    <div>
        <img src="~/images/defaultpuppy.jpg"/>
    </div>

</body>