@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Rescues" asp-action="Transports">Transports</a></li>
        <li><a asp-area="" asp-controller="Rescues" asp-action="ManageVolunteers">Manage Volunteers</a></li>
        
    </ul>
    <partial name="_LoginPartial" />
</div>
</html>