@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h3>Questions or Comments? Email us at the address below:</h3>


<address>
    <strong>Support:</strong> <a href="mailto:Support@rescueshare.com">Support@rescueshare.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rescueshare.com">Marketing@rescueshare.com</a>
</address>
