@{
    ViewData["Title"] = "How It Works";
}
<h2>@ViewData["Title"]</h2>

<p> RescueShare is a platform designed to help dog rescues work more efficiently and connect with the right people more often. Shelters will be able to reach volunteers at the click of 
    a button and can access data that can help them operate in a way that can save the most animals possible. We all have the same goal, RescueShare helps us reach it.</p>
