@using Microsoft.AspNetCore.Identity
@using Microsoft

@{
    ViewData["Title"] = "Home Page";

}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    if (user.IsShelterWorker)
    {
        
       
        <p>
            Hi, shelter user!
        </p>

        <p>
            <partial name="../Shelters/_ShelterLayout.cshtml" />
        </p>
    }

    if (user.IsRescueWorker)
    {
        <p>
            Hi, rescue user!
        </p>
        <p>
            <partial name="../Rescues/_RescueLayout.cshtml" />
        </p>
    }

    if (user.IsVolunteer)
    {
        <p>
            Hi, driver user!
        </p>
        <p>
            <partial name="../Volunteers/_VolunteerLayout.cshtml" />
        </p>
    }
}



<div>
    <header>
        Welcome. Let's save some dogs today.
    </header>
</div>

