@using Microsoft.AspNetCore.Identity
@using Microsoft
@using RescueShare.Models.Entities;

@{
    ViewData["Title"] = "Home Page";

}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    if (@User.FindFirst("VolunteerType").Value == "ShelterVolunteer")

    {
        < p >
        Hi, shelter user!
        </ p >

        < p >
        < partial name = "../Shelters/_ShelterLayout.cshtml" />

        </ p >
    }

    if (@User.FindFirst("VolunteerType").Value == "ResuceOrganization")
    {
        < p >
        Hi, foster user!
        </ p >
        < p >
        < partial name = "../Rescues/_RescueLayout.cshtml" />

        </ p >
    }

    if (@User.FindFirst("VolunteerType").Value == "Driver")
    {
        < p >
        Hi, driver user!
        </ p >
        < p >
        < partial name = "../Volunteers/_VolunteerLayout.cshtml" />

        </ p >
    }
}



<div>
    <header>
        Welcome. Let's save some dogs today.
    </header>
</div>

