@using Microsoft.AspNetCore.Identity

@{
    Layout = null;
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    if (user.IsDriver)
    {
        <p>
            Hi, driver user lady!
        </p>

        <div class="navbar-collapse ">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Volunteers" asp-action="TransportSchedule">Transport Schedule</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="TransportOpportunities">Transports Near Me</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="MyTransports">My Transports</a></li>

            </ul>
            <partial name="_LoginPartial" />
        </div>


    }

    if (user.IsFoster)
    {
        <p>
            Hi, foster user!
        </p>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Volunteers" asp-action="FosterSchedule">Foster Schedule</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="FosterOpportunities">Fosters Near Me</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="MyFosters">My Fosters</a></li>

            </ul>
            <partial name="_LoginPartial" />
        </div>

    }

    if (user.IsFoster && user.IsDriver)
    {
        <p>
            Hi, double user!
        </p>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Volunteers" asp-action="FosterSchedule">Foster Schedule</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="FosterOpportunities">Fosters Near Me</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="MyFosters">My Fosters</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="TransportSchedule">Transport Schedule</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="TransportOpportunities">Transports Near Me</a></li>
                <li><a asp-area="" asp-controller="Volunteers" asp-action="MyTransports">My Transports</a></li>


            </ul>
            <partial name="_LoginPartial" />
        </div>

    }
}